*{
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.c-form{
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}
.container{
  display: flex;
  align-items: center;
  gap: 5px;
}

