<ng-container *ngIf="employee">
    <div class="emp-block outer">
        <tui-avatar text="{{ employee.firstName + ' ' + employee.lastName}}"
            class="tui-space_top-1 inner" size="m" [rounded]="true" [autoColor]="true">
        </tui-avatar>
        <div class="emp-block-main-data">
            <span class="emp-block__name">
                {{ employee.lastName + ' ' + employee.firstName + ' ' + employee.patronymic}}
            </span>
            <span class="emp-block__project">
                {{ employee.project }}
            </span>
            <span class="emp-block__post">
                {{ employee.post }}
            </span>
            <span class="emp-block__salary">
                {{ employee.salary | monetary}}
            </span>
            <tui-badge size="l" status="custom" value="{{ employee.status }}"
                class="tui-space_right-2 emp-block__success" [appStatusEmployee]="employee.status">
            <span class="custom-content" [appStatusEmployee]="employee.status" [isCircle]="true"></span>
            </tui-badge>
        </div>
    </div>
</ng-container>

