<tui-root>
  <div class="wrapper"></div>
  <div class="dialog__container">
    <div class="dialog__container_outer">
      <div class="dialog__container_inner">
        <h2 class="dialog__title">Добавить запись</h2>
        <tui-select [formControl]="actionControl" class="dialog__select">
          Действие
          <input
            tuiTextfield
          />
          <tui-data-list-wrapper
            *tuiDataList
            [items]="actions"
          ></tui-data-list-wrapper>
        </tui-select>
        <label class="dialog__label">Дата</label>
        <tui-input tuiTextfieldSize="l" class="dialog__input"
                   [tuiTextfieldLabelOutside]="true" [formControl]="dateControl">
          <input type="date" name="date_interview" tuiTextfield/>
        </tui-input>

        <div *ngIf="actionControl.value === 'Повышение' || actionControl.value === 'Понижение'
             || actionControl.value === 'Принятие на работу'">
          <form class="dialog__form" [formGroup]="formPost" (ngSubmit)="submit()">

            <label class="dialog__label">Должность</label>
            <tui-input tuiTextfieldSize="l" class="dialog__input"
                       [tuiTextfieldLabelOutside]="true">
              <input type="text" name="lastName" formControlName="newPost" tuiTextfield/>
            </tui-input>

            <label class="dialog__label">Зарплата</label>
            <tui-input tuiTextfieldSize="l" class="dialog__input"
                       [tuiTextfieldLabelOutside]="true">
              <input type="number" name="lastName" formControlName="newSalary" tuiTextfield/>
            </tui-input>
          </form>
        </div>

        <div *ngIf="actionControl.value === 'Больничный' || actionControl.value === 'Отпуск'">
          <form class="dialog__form" [formGroup]="formDoubleDate" (ngSubmit)="submit()">
            <label class="dialog__label">Дата окончания</label>
            <tui-input tuiTextfieldSize="l" class="dialog__input"
                       [tuiTextfieldLabelOutside]="true">
              <input type="date" name="date_interview" formControlName="endDate" tuiTextfield/>
            </tui-input>
          </form>
        </div>

        <div *ngIf="actionControl.value === 'Изменение статуса'">
          <form class="dialog__form" [formGroup]="formStatus" (ngSubmit)="submit()">
            <label class="dialog__label">Статус сотрудника</label>
            <tui-select formControlName="newStatus" class="tui-space_vertical-4 dialog__select_status"
                        [tuiTextfieldLabelOutside]="true">
              Выберите статус
              <input
                tuiTextfield
              />
              <tui-data-list-wrapper
                *tuiDataList
                [items]="statuses"
              ></tui-data-list-wrapper>
            </tui-select>

<!--            <tui-input tuiTextfieldSize="l" class="dialog__input"-->
<!--                       [tuiTextfieldLabelOutside]="true">-->
<!--              <input type="text" name="date_interview" formControlName="newStatus" tuiTextfield/>-->
<!--            </tui-input>-->
          </form>
        </div>

        <div class="dialog__buttons">
          <button tuiButton type="submit" class="dialog__add" (click)="submit()">
            Добавить
          </button>
          <button tuiButton type="button" appearance="outline"
                  class="tui-space_right-3 tui-space_bottom-3 dialog__cancel"
                  (click)="closeDialog()">
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</tui-root>
