:host {
  --width-dialog-window: 600px;
  --height-dialog-window: 568px;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.dialog__container {
}

.dialog__container_outer {
  position: fixed;
  top: calc(50% - var(--height-dialog-window) / 2);
  left: calc(50% - var(--width-dialog-window) / 2);

  background: #fff;
  border-radius: 30px;
  z-index: 1000;
}

.dialog__container_inner {
  position: relative;

  width: var(--width-dialog-window);
  height: var(--width-dialog-window);

  display: flex;
  flex-direction: column;
  padding: 49px 50px 100px 50px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: 1000;
}

.dialog__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  border-left: 4px solid #526ED3;
  padding-left: 10px;
  margin-bottom: 20px;
}

.dialog__form {
  display: block;
}

.dialog__select {
  z-index: 1000;
  margin-bottom: 15px;
}

.dialog__label {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.dialog__input {
  margin-top: 5px;
  margin-bottom: 15px;
}

.dialog__buttons {
  position: relative;
  margin-top: auto;
}

.dialog__add {
  position: absolute;
  left: 0;
}

.dialog__cancel {
  position: absolute;
  right: 0;
}
