<header class="header">
    <a routerLink="/companies">
        <img class="header__logo" src="../../../assets/logo.svg" alt="Логотип">
    </a>
</header>

<form class="registration" [formGroup]="registrationForm" (ngSubmit)="submitHandler()">
    <h2 class="registration__title">Регистрация</h2>

    <input class= "registration__input" type="text" placeholder="Логин" autocomplete="off" formControlName="login">
    <div class="registration__msg" *ngIf="login!.hasError('required') && login!.touched">Введите логин</div>
    <div class="registration__msg" *ngIf="login!.hasError('minlength')">Логин не может быть короче 3 символов</div>
    <div class="registration__msg" *ngIf="login!.hasError('noSpaceAllowed') && login!.touched">Логин не должен содержать пробелы</div>
    
    <input class= "registration__input" type="password" placeholder="Пароль" autocomplete="off" formControlName="password">
    <div class="registration__msg" *ngIf="password!.hasError('required') && password!.touched">Введите пароль</div>
    <div class="registration__msg" *ngIf="password!.hasError('minlength')">Пароль не может быть короче 5 символов</div>
    <div class="registration__msg" *ngIf="password!.hasError('noSpaceAllowed') && password!.touched">Пароль не должен содержать пробелы</div>
    
    <button class= "registration__button" type="submit">Зарегистрироваться</button>
</form>