<div class="container">
  
  <div class="wrapper">
    <tui-input-range
      id="input-range-with-key-steps"
      [min]="min_salary"
      [max]="max_salary"
      [steps]="totalSteps"
      [keySteps]="keySteps"
      [formControl]="salaryControl"
      [pluralize]="currency"
    >
      Зарплата
    </tui-input-range>
  
    <tui-select
      [formControl]="paginationControl"
    >
      Показывать сотрудников
      <input
        tuiTextfield
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="items"
      ></tui-data-list-wrapper>
    </tui-select>
  </div>
  
  <div class="input_tags">
    <tui-input-tag
      class="b-form"
      [tuiTextfieldLabelOutside]="true"
      [(ngModel)]="value"
      (searchChange)="onSearchChange($event)"
      (ngModelChange)="filterEvent$.next(value)"

    >
      Введите теги
      <tui-data-list-wrapper
        *tuiDataList
        [items]="items$ | async"
      ></tui-data-list-wrapper>
    </tui-input-tag>
  </div>
</div>
