.container{
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;

  max-width: 1200px;
  width: 100%;
}

.wrapper {
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: 1fr 0.3fr;

  gap: 10px;
}
