.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding: 0 80px;

    max-width: 550px;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 29.2473px;
}

.login__title {
    margin: 40px 0;

    font-size: 2em;
    font-weight: 400;
}

.login__input {
    margin-bottom: 25px;
    padding: 12px;

    width: 100%;
    font-size: 1.2em;
    font-weight: 300;

    background-color: #F9FBFE;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.login__button {
    margin-top: 10px;
    padding: 20px 15px;

    width: 100%;
    font-size: 1.4em;
    font-weight: 500;
    color: white;

    background-color: #526ED3;
    border-radius: 10px;

    transition: background-color 0.3s ease;
}

.login__button:hover {
    background-color: #354991;
}

.login__msg {
    position: relative;
    top: -12px;
    color: red;
    font-size: 0.8em;
}

.login__bottom-text {
    margin: 25px 0 35px;
    font-weight: 300;
}

.login__bottom-link {
    color: #526ED3;
    font-weight: 400;
    text-decoration: underline;
}

.login__bottom-link:hover {
    color: #354991;
}


.header {
    margin-top: 100px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
}

.header__logo {
    max-height: 60px;
}
