<header class="header">
    <a routerLink="/dashboard">
        <img class="header__logo" src="../../../assets/logo.svg" alt="Логотип">
    </a>
</header>

<form class="login" [formGroup]="loginForm" #form="ngForm" (ngSubmit)="submitHandler()" [@slideIn]>
    <h2 class="login__title">Вход</h2>

    <input class= "login__input" type="text" placeholder="Логин" autocomplete="off" formControlName="login">
    <div class="login__msg" *ngIf="login!.hasError('required') && login!.touched">Введите логин</div>

    <input class= "login__input" type="password" placeholder="Пароль" autocomplete="off" formControlName="password">
    <div class="login__msg" *ngIf="password!.hasError('required') && password!.touched">Введите пароль</div>
    <div class="login__msg" *ngIf="form!.hasError('noSuchUser') && form.submitted">Введен неверный логин или пароль</div>

    <button class= "login__button" type="submit">Войти</button>

    <p class="login__bottom-text">
        Еще нет аккаунта? 
        <a class="login__bottom-link" routerLink="/registration">Регистрация</a>
    </p>
</form>