<app-header></app-header>
<app-search (searchEvent$)="applySearch($event)"></app-search>
<app-filter (filterEvent$)="applyFilter($event)"
            (filterRangeEvent$)="applyRangeFilter($event)"
            (paginationEvent$)="setItemsPerPage($event)"></app-filter>
<div class="emp-block__container">
  <div class="notation-panel">
    <ul class="list-reset">
      <li>Автатар</li><li>Имя</li><li>Проект</li><li>Должность</li><li>Зарплата</li><li>Успешность</li>
    </ul>
  </div>
  <div *ngFor="let employee of employees
  | filterTags:searchText:searchTags:rangeSalary
  | pagination:itemsPerPage:index">
    <div class="emp-block outer" (click)="selectEmployee(employee)">
      <tui-avatar text="{{ employee.firstName + ' ' + employee.lastName}}"
        class="tui-space_top-1 inner" size="m" [rounded]="true" [autoColor]="true">
      </tui-avatar>
      <div class="emp-block-main-data">
        <span class="emp-block__name">{{ employee.lastName + ' ' + employee.firstName + ' ' +
        employee.patronymic}}</span>
        <span class="emp-block__project">{{ employee.project }}</span>
        <span class="emp-block__post">{{ employee.post }}</span>
        <span class="emp-block__salary">{{ employee.salary | monetary}}</span>
        <tui-badge size="l" status="custom" value="{{ employee.success }}"
          class="tui-space_right-2 emp-block__success" [ngClass]="{
          success: employee.success === 'Успешный',
          unsuccess: employee.success === 'Неуспешный',
          ordinary: employee.success === 'Обычный',
          }">
          <span class="custom-content" [ngClass]="{
          success_circle: employee.success === 'Успешный',
          unsuccess_circle: employee.success === 'Неуспешный',
          ordinary_circle: employee.success === 'Обычный',
          }"></span>
        </tui-badge>
      </div>
    </div>
  </div>
  <div class="pagination" *ngIf="length>1">
    <tui-pagination
      [length]="length"
      [index]="index"
      (indexChange)="goToPage($event)"
    ></tui-pagination>
  </div>
</div>
