<app-header></app-header>
<tui-root>
  <div class="adding" [@slideIn]>
    <div class="adding__container">
      <form [formGroup]="employeeForm" novalidate (ngSubmit)='submit()'>
        <h2 class="adding__title">Основная информация</h2>
        <label class="adding__label">Фамилия</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="lastName">
          Иванов
          <input type="text" name="lastName" formControlName="lastName" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Имя</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                    [tuiTextfieldLabelOutside]="true" formControlName="firstName">
          Иван
          <input type="text" name="firstName" formControlName="firstName" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Отчество</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="patronymic">
          Иванович
          <input type="text" name="patronymic" formControlName="patronymic" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Дата рождения</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="birthday">
          <input type="date" name="birthday" formControlName="birthday" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Контактный Email</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="email">
          example@email.com
          <input  name="email" formControlName="email" tuiTextfield type="email"/>
        </tui-input>


        <h2 class="adding__title">Трудоустройство</h2>
        <label class="adding__label">Должность</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="post">
          Зарплата
          <input type="text" name="post" formControlName="post" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Зарплата</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="salary">
          Зарплата
          <input type="text" name="salary" formControlName="salary" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Проект</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="project">
          Название
          <input type="text" name="project" formControlName="project" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Город</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="city">
          Введите город
          <input type="text" name="city" formControlName="city" tuiTextfield/>
        </tui-input>


        <h2 class="adding__title">Образование</h2>
        <label class="adding__label">Тип образования</label>
        <tui-select
          tuiTextfieldSize="l" class="adding__input"  formControlName="education"
          [tuiTextfieldLabelOutside]="true" [(ngModel)]="types[0]">
          <input name="education" tuiTextfield/>
          <tui-data-list-wrapper
            *tuiDataList
            [items]="types"
          ></tui-data-list-wrapper>
        </tui-select>

        <label class="adding__label">Образовательное учреждение</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="educational_institution">
          Название
          <input type="text" name="educational_institution" formControlName="educational_institution" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Специальность</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="specialization">
          Название
          <input type="text" name="specialization" formControlName="specialization" tuiTextfield/>
        </tui-input>

        <label class="adding__label">Год окончания</label>
        <tui-input tuiTextfieldSize="l" class="adding__input"
                   [tuiTextfieldLabelOutside]="true" formControlName="year_graduation">
          Введите год
          <input type="text" name="year_graduation" formControlName="year_graduation" tuiTextfield/>
        </tui-input>

        <div class="adding__buttons">
          <button tuiButton type="submit" appearance="primary" [disabled]="employeeForm.invalid"
            class="adding__add">
            Добавить
          </button>

          <button tuiButton type="button" appearance="outline" class="adding__cancel"
              (click)="redirectBack()">
            Отмена
          </button>
        </div>

      </form>
    </div>
  </div>
</tui-root>
