<app-header></app-header>
<tui-root>
  <div class="header-board" [@slideIn]>
    <a routerLink="{{backUrl}}" class="btn-back">Назад</a>
    <tui-avatar text="{{ employee.firstName + ' ' + employee.lastName}}"
                class="tui-space_top-1 avatar" size="xxl" [rounded]="true" [autoColor]="true">
    </tui-avatar>
    <div>
      <div class="name-field">{{employee.lastName}} {{employee.firstName}} {{employee.patronymic}}</div>
      <div class="email-field">{{employee.email}}</div>
      <tui-badge size="l" statusEmployee="custom" value="{{ employee.status }}"
                 class="tui-space_right-2 emp-block__success"
                 [appStatusEmployee]="employee.status">
        <span class="custom-content" [appStatusEmployee]="employee.status" [isCircle]="true"></span>
      </tui-badge>
    </div>
  </div>

  <div class="main-board" [@slideIn]>
    <div class="detailed__container">
      <h2 class="detailed__title">Основная информация</h2>
      <form [formGroup]="formMain" (ngSubmit)="saveFormMain()" class="data-sec">
        <div class="data-field">
          <span class="data-field__label">Дата рождения</span>
          <div>{{employee.birthday}}</div>

          <div *ngIf="editMode && editModeMain" class="detailed__form_change">
            <tui-input tuiTextfieldSize="m" class="detailed__input"
                       [tuiTextfieldLabelOutside]="true" formControlName="newBirthday">
              <input type="date" formControlName="newBirthday" tuiTextfield/>
            </tui-input>
          </div>

        </div>
        <div class="data-field">
          <span class="data-field__label">Город</span>
          <div>{{employee.city}}</div>

          <div *ngIf="editMode && editModeMain" class="detailed__form_change">
            <tui-input tuiTextfieldSize="m" class="detailed__input"
                       [tuiTextfieldLabelOutside]="true" formControlName="newCity">
              {{employee.city}}
              <input type="text" formControlName="newCity" tuiTextfield/>
            </tui-input>
          </div>
        </div>
        <div class="data-field">
          <span class="data-field__label">Проект</span>
          <div>{{employee.project}}</div>

          <div *ngIf="editMode && editModeMain" class="detailed__form_change">
            <tui-input tuiTextfieldSize="m" class="detailed__input"
                       [tuiTextfieldLabelOutside]="true" formControlName="newProject">
              {{employee.project}}
              <input type="text" formControlName="newProject" tuiTextfield/>
            </tui-input>
          </div>

        </div>
        <div class="data-field">
          <span class="data-field__label">Должность</span>
          <div>{{employee.post}}</div>

          <div *ngIf="editMode && editModeMain" class="detailed__form_change">
            <tui-input tuiTextfieldSize="m" class="detailed__input"
                       [tuiTextfieldLabelOutside]="true" formControlName="newPost">
              {{employee.post}}
              <input type="text" formControlName="newPost" tuiTextfield/>
            </tui-input>
          </div>

        </div>
        <div class="data-field">
          <span class="data-field__label">Зарплата</span>
          <div>{{employee.salary | monetary}}</div>

          <div *ngIf="editMode && editModeMain" class="detailed__form_change">
            <tui-input tuiTextfieldSize="m" class="detailed__input"
                       [tuiTextfieldLabelOutside]="true" formControlName="newSalary">
              {{employee.salary}}
              <input type="number" formControlName="newSalary" tuiTextfield/>
            </tui-input>
          </div>

        </div>
        <button *ngIf="editMode && editModeMain" tuiButton type="submit" appearance="primary" size="m"
                class="tui-space_right-3 tui-space_bottom-3 detailed__btn_change">
          Изменить
        </button>
        <button *ngIf="editMode && editModeMain" tuiButton type="button" appearance="outline" size="m"
                class="tui-space_right-3 tui-space_bottom-3 detailed__btn_change" (click)="closeEditModeMain()">
          Отменить
        </button>
      </form>

      <h2 class="detailed__title">Образование</h2>
      <div class="data-sec">
        <form [formGroup]="formEducation" (ngSubmit)="saveFormEducation()" class="data-sec">
          <div class="data-field">
            <span class="data-field__label">Образование</span>
            <div>{{employee.education}}</div>

            <div *ngIf="editMode && editModeEducation" class="detailed__form_change">
              <tui-input tuiTextfieldSize="m" class="detailed__input"
                         [tuiTextfieldLabelOutside]="true" formControlName="newEducation">
                {{employee.education}}
                <input type="text" formControlName="newEducation" tuiTextfield/>
              </tui-input>
            </div>
          </div>
          <div class="data-field">
            <span class="data-field__label">Образовательное учреждение</span>
            <div>{{employee.educational_institution}}</div>

            <div *ngIf="editMode && editModeEducation" class="detailed__form_change">
              <tui-input tuiTextfieldSize="m" class="detailed__input"
                         [tuiTextfieldLabelOutside]="true" formControlName="newEducational_institution">
                {{employee.educational_institution}}
                <input type="text" formControlName="newEducational_institution" tuiTextfield/>
              </tui-input>
            </div>
          </div>

          <div class="data-field">
            <span class="data-field__label">Специальность</span>
            <div>{{employee.specialization}}</div>

            <div *ngIf="editMode && editModeEducation"  class="detailed__form_change">
              <tui-input tuiTextfieldSize="m" class="detailed__input"
                         [tuiTextfieldLabelOutside]="true" formControlName="newSpecialization">
                {{employee.specialization}}
                <input type="text" formControlName="newSpecialization" tuiTextfield/>
              </tui-input>
            </div>
          </div>

          <div class="data-field">
            <span class="data-field__label">Год окончания</span>
            <div>{{employee.year_graduation}}</div>

            <div *ngIf="editMode && editModeEducation"  class="detailed__form_change">
              <tui-input tuiTextfieldSize="m" class="detailed__input"
                         [tuiTextfieldLabelOutside]="true" formControlName="newYear_graduation">
                {{employee.year_graduation}}
                <input type="text" formControlName="newYear_graduation" tuiTextfield/>
              </tui-input>
            </div>
          </div>
          <button *ngIf="editMode && editModeEducation" tuiButton type="submit" appearance="primary" size="m"
                  class="tui-space_right-3 tui-space_bottom-3 detailed__btn_change">
            Изменить
          </button>
          <button *ngIf="editMode && editModeEducation" tuiButton type="button" appearance="outline" size="m"
                  class="tui-space_right-3 tui-space_bottom-3 detailed__btn_change" (click)="closeEditModeEducation()">
            Отменить
          </button>
        </form>
      </div>

      <h2 class="detailed__title">Журнал</h2>
      <div class="dairy-container">
        <ul class="dairy__list">
          <li *ngFor="let action of actions; let i = index" [ngSwitch]="action.title" class="dairy-field">

            <ng-template ngSwitchCase="Повышение">
              <div class="dairy__field_promotion">
                <div class="dairy__field_header">
                  <div>{{ action.title }}</div> <div>{{ action.date }}</div>
                </div>
                <div class="dairy__field_body">{{action.newPost}}, {{action.newSalary! | monetary}}</div>
              </div>
            </ng-template>

            <ng-template ngSwitchCase="Понижение">
              <div class="dairy__field_reduce">
                <div class="dairy__field_header">
                  <div>{{ action.title }}</div> <div>{{ action.date }}</div>
                </div>
                <div class="dairy__field_body">{{action.newPost}}, {{action.newSalary! | monetary}}</div>
              </div>
            </ng-template>

            <ng-template ngSwitchCase="Увольнение">
                <div class="dairy__field_header dairy__field_reduce">
                  <div>{{ action.title }}</div> <div>{{ action.date }}</div>
                </div>
            </ng-template>

            <ng-template ngSwitchCase="Больничный">
              <div class="dairy__field_header">
                <div>{{ action.title }}</div> <div>{{ action.date }} - {{ action.date2 }}</div>
              </div>
            </ng-template>

            <ng-template ngSwitchCase="Отпуск">
              <div class="dairy__field_header">
                <div>{{ action.title }}</div> <div>{{ action.date }} - {{ action.date2 }}</div>
              </div>
            </ng-template>

            <ng-template ngSwitchCase="Изменение данных">
              <div class="dairy__field_edit">
                <div class="dairy__field_header" >
                  <div>{{ action.title }}</div> <div>{{ action.date }}</div>
                </div>
                <div class="dairy__field_body">{{action.oldValue}} > {{action.newValue}}</div>
              </div>
            </ng-template>

            <ng-template ngSwitchCase="Изменение статуса">
              <div class="dairy__field_edit">
                <div class="dairy__field_header" >
                  <div>{{ action.title }}</div> <div>{{ action.date }}</div>
                </div>
                <div class="dairy__field_body">{{action.newStatus}}</div>
              </div>
            </ng-template>

            <ng-template ngSwitchDefault>
              <div class="dairy__field_header" >
                <div>{{ action.title }}</div> <div>{{ action.date }}</div>
              </div>
            </ng-template>

          </li>
        </ul>
      </div>
      <div class="detailed__buttons">
        <button tuiButton type="button" appearance="primary"
                class="tui-space_right-3 tui-space_bottom-3 detailed__add"
                (click)="showDialog()"
        >
          Добавить запись
        </button>
        <button *ngIf="!(editModeMain || editModeEducation)" tuiButton type="button" appearance="outline"
                class="tui-space_right-3 tui-space_bottom-3 detailed__edit" (click)="openEditMode()">
          Изменить данные
        </button>
        <button *ngIf="editModeMain || editModeEducation" tuiButton type="button" appearance="outline"
                class="tui-space_right-3 tui-space_bottom-3 detailed__edit" (click)="closeEditMode()">
          Отменить изменения
        </button>
      </div>
    </div>
  </div>
  <app-dialog-window *ngIf="isOpen" [id_owner]="idEmployee" (isOpen)="manageDialog($event)"></app-dialog-window>
</tui-root>
