.header-board {
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 850px;
  height: 220px;
  background: #fff;
  margin: auto;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 20px;
}

.main-board {
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;

  position: relative;
  display: flex;
  width: 850px;
  background: #fff;
  margin: auto;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  margin-top: 54px;
  margin-bottom: 142px;
}

.detailed__container {
  padding: 0 60px 50px 60px;
  width: 100%;
}

.detailed__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 45px;

  border-left: 4px solid #526ED3;
  padding-left: 10px;
  margin-bottom: 20px;
}

.data-sec {
  margin-bottom: 15px;
}

.name-field {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-top: 44px;
  /*margin-left: 67px;*/
}

.email-field {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.avatar {
  /*position: absolute;*/
  top: 39px;
  left: 44px;
}

.emp-block__success {
  width: 220px;
  padding-right: 30px;
  /*position: absolute !important;*/
  /*top: 212px;*/
  /*right: 37px;*/
  margin-top: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.data-field {
  /*margin: 14px 0 0 49px;*/
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
}

.data-field:first-child {
  margin-top: 22px;
}

.data-field__label {
  display: block;
  color: #797979;
  font-size: 20px;
  margin-bottom: 7px;
}

.detailed__form_change {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailed__input {
  width: 62%;
}

.detailed__btn_change {
  margin-right: 10px;
  margin-top: 20px;
}

.dairy-container {
  margin-top: 19px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.dairy__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dairy-field {
  background: #F5F7FA;
  border-radius: 15px;
  margin-bottom: 15px;
}

.dairy__field_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
}

.dairy__field_body {
  padding: 0 20px 15px 20px;
  font-size: 22px;
}

.dairy__field_promotion {
  border-radius: 15px;
  background: #E9F8F3;
}

.dairy__field_reduce {
  border-radius: 15px;
  background: #FEEBE4;
}

.dairy__field_edit {
  border-radius: 15px;
  background: #f5f2e1;
}

.dairy-field__label {
  margin: 25px 0 0 87px;
}

.detailed__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.detailed__add{
  max-width: 300px;
  width: 100%;
}

.detailed__edit{
  position: relative !important;
  max-width: 290px;
  width: 100%;
}

.btn-back {
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  position: absolute;
  top: -35px;
  /*left: 5px;*/
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #535353;
  background-image: url("../../../assets/arrow.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position-y: 7px;
}
